<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UShare</title>

        <meta name="description"    content="uploading website">
        <meta name="author"         content="Eoin Walsh">
        <meta name="keywords"       content="files">

        <link rel="stylesheet" type="text/css" href="../globalStyle.css">
    </head>
    <body>
        <div class="topbanner" id="top">
            <h1><a href="../index">UShare</a></h1>
            <h2><%= imagetitle %></h2>
        </div>


        <div class="navbar">
            <a href="../upload">Upload</a>
            <a href="../login">Login</a>
            <a href="../register">Register</a>
            <a href="imagegrid">Images</a>
        </div>

        <div class="maincontent">
            <img width="50%" alt="uploaded user image" src="/images/<%= filename %>">
            <h2>Uploaded by <%= username %> at <%= time %></h2>
            <div class="social">
                <%- socialfeatures %>
            </div>

            <div id="comments">
                <%- comment %>
            </div>
        </div>

        <div>
            <a href="../logout">Logout</a>
        </div>
    </body>
</html>